body {
  background-color: #aaffff;
}
ul {
  list-style-type: lower-roman;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
ul.intro-list {
  color: blueviolet;
}
.fake {
  background-color: blueviolet;
  height: 200px;
}
.container {
  background-color: gold;
  height: 1000px;
}
